<header>
  <h1 class="logo">ITECH NEWS</h1>
  <nav class="navigation">
    <ul>
      <li>
        <a href="#" class="link-home link-to-section">Inicio</a>
      </li>
      <li>
        <a href="#" class="link-about-us link-to-section">Quienes somos</a>
      </li>
      <li>
        <a href="#" class="link-contact link-to-section">Contacto</a>
      </li>
    </ul>
  </nav>
</header>