<header>
  <h1 class="logo">ITECH NEWS</h1>
  <nav class="navigation">
    <ul>
      <li>
        <button type="button" class="link-home link-to-section">Inicio</button>
      </li>
      <li>
        <button type="button" class="link-about-us link-to-section">Quienes somos</button>
      </li>
      <li>
        <button type="button" class="link-contact link-to-section">Contacto</button>
      </li>
    </ul>
  </nav>
</header>