<section class="contact">
  <h2>{{{contact-title}}}</h2>
  {{{contact-text}}}
  <div class="form">
    <div class="form-wrapper">
      <input id="contact-name" type="text" placeholder="tu nombre">
      <input id="contact-email" type="text" placeholder="tu@email.com">
      <textarea id="contact-message" type="text" placeholder="tu mensaje"></textarea>
      <button id="contact-btn" type="submit">
        <span class="contact-btn-text">Enviar</span>
        <span class="contact-btn-spinner hidden">Procesando</span>
      </button>
    </div>
  </div>
</section>