<section class="contact">
  <h2>Ponte en contacto con nosotros</h2>
  <p>Completa el siguiente formulario y nos estaremos comunicando a la brevedad.</p>
  <div class="form">
    <div class="form-wrapper">
      <input id="contact-name" type="text" placeholder="tu nombre">
      <input id="contact-email" type="text" placeholder="tu@email.com">
      <textarea id="contact-message" type="text" placeholder="tu mensaje"></textarea>
      <button id="contact-btn" type="submit">enviar</button>
    </div>
  </div>
</section>