<section class="newsletter">
  <h2>{{newsletter-title}}</h2>
  {{{newsletter-text}}}
  <div class="form">
    <div class="form-wrapper">
      <input id="newsletter-email" type="text" placeholder="tu@email.com" title="Newsletter Sign-Up">
      <button id="newsletter-btn" type="submit">
        <span class="newsletter-btn-text">{{newsletter-button}}</span>
        <span class="newsletter-btn-spinner hidden">Procesando</span>
      </button>
    </div>
  </div>
</section>