<section class="newsletter">
  <h2>Subscricion a nuestro newsletter</h2>
  <p>Mantenete al tanto de lo que sucede dentro de la carrera de desarrollo de software del ITEC.</p>

  <div class="form">
    <div class="form-wrapper">
      <input id="newsletter-email" type="text" placeholder="tu@email.com" title="Newsletter Sign-Up">
      <button id="newsletter-btn" type="submit">Registrarse</button>
    </div>
  </div>
</section>