<header>
  <h1 class="logo">ITECH NEWS</h1>
  <nav class="navigation">
    <ul>
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/">Quienes somos</a>
      </li>
      <li>
        <a href="/">Contacto</a>
      </li>
    </ul>
  </nav>
</header>